
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <h1 class="display-4">Index</h1>
    <div class="d-flex justify-content-end">
        
        <a class="btn btn-success btn-sm" asp-controller="Employees" asp-action="Create">Add New</a>
    </div>

</div>
